body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

h1,
ul,
p,
a {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}


.header-bg {
    background-color: #000;
    /* header pra ditar a cor */
}

.header {
    /* e o container pra segurar os itens */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1160px;
    box-sizing: border-box;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.header-menu {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

}

.header-menu a {
    color: #fff;
    text-transform: capitalize;
    padding: 16px 0px;
    display: inline-block;
    font-size: 1.125rem;
    position: relative;

}

.header-menu a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background-color: #fff;
    margin-top: 4px;
    position: absolute;
}

.header-menu a:hover::after {
    width: 100%;
    transition: .2s ease-in-out;
}

.introducao-bg {
    background: #000;
    color: #fff;
    box-shadow: inset 0px -120px #fff;
    ;
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 200px;
}


.introducao img {
    height: 100%;
    object-fit: cover;
    border-radius: 4px;

}

.introducao h1 {
    margin-bottom: 32px;
    font-size: 4rem;
    line-height: 1.125;
}

.introducao h1 span {
    color: #ffbb00;
}

.introducao p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #b2b2b2;
}

.introducao a {
    display: inline-block;
    padding: 16px 32px;
    color: #332200;
    background: linear-gradient(#ffbf00, #f2a60c);
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 1.33;
    font-weight: bold;
    border-radius: 4px;
}

.introducao a:hover {
    background: linear-gradient(#ffb60d, #e59317);
    transition: .2 ease-in-out;
}

@media (max-width:600px) {
    .introducao a {
        padding: 12px 16px;
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
    }

    .header-menu a {
        background: #111;
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu a:hover {
        background-color: #2e2e2e;
    }

    .header a::after {
        display: none;
    }
}

@media(max-width: 600px) {
    .header-menu {
        gap: 12px;
    }

    .header-menu a {
        font-size: 14px;
        padding: 8px 12px;
    }
}

@media (max-width: 1200px) {
    .introducao h1 {
        font-size: 48px;
    }

    .introducao p {
        font-size: 18px;
    }
}

@media (max-width:800px) {
    .introducao-bg {
        background: #111;
        padding-top: 40px;
        box-shadow: inset 0 -60px #fff;
    }

    .introducao {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introducao-conteudo {
        padding-bottom: 0px;
    }

    .introducao h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .introducao img {
        height: 300px;
        width: 100%;

    }
}