@import url('../css/global/global.css');
/* tipografia */
@import url('../css/utilitarios/tipografia.css');
/* cores */
@import url('../css/utilitarios/cores.css');

@import url('../css/global/header.css');


/* Utilitarios e componentes */
@import url('../css/utilitarios/componentes.css');

/* home */
@import url('../css/home/introducao.css');

/* bicicletas */
@import url('../bicicletas/bicicletas-listas.css');

/* tecnologia */
@import url('../css/home/tecnologia.css');
/* parceiros */
@import url('../css/home/parceiros/parceiros.css');
/* depoimento */
@import url('../css/home/depoimento.css');
/* seguros */
@import url('../css/seguros/seguros.css');