.container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.botao {
    display: inline-block;
    padding: 16px 32px;
    color: var(--color-p5);
    background: linear-gradient(#ffbf00, #f2a60c);
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 1.33;
    border-radius: 4px;
    font-family: "Poppins";
    font: 600 1.25rem/1.35 "Poppins", sans-serif;
    max-width: max-content;
}

.botao:hover {
    background: linear-gradient(#ffb60d, #e59317);
    transition: .2 ease-in-out;
}

.botao.secundario {
    background: var(--cor-10);
    color: var(--cor-2);
}

.botao.secundario:hover {
    background: var(--cor-9);
}

@media (max-width:600px) {
    .botao {
        padding: 12px 16px;
        font-size: 16px;
    }
}


/* titulo internos */
.titulo-bg {
    background: var(--cor-11);
    padding: 60px 0 60px 0;
}

.titulo p {
    margin-bottom: 4px;
}

@media (max-width:800px) {
    .titulo-bg {
        padding: 40px 0 40px 0;
    }

    .titulo p {
        font-size: 1rem;
        text-transform: lowercase;
        font-weight: 400;
    }
}